
.edit-slot {
  outline: 1px solid black;
  min-height: 32px;
  overflow: hidden;
}

/* Contentlayout layer CSS */

.contentlayout-block-placeholder {
  background: rgba(20, 200, 20, 0.5);
}

#contentlayout-edit-layer {
  background: rgba(200, 200, 200, 0.5);
  zIndex: 25000;
}

#contentlayout-edit-layer a {
  display: block;
  float: left;
  height: 32px;
  width: 32px;
  margin: 2px 4px;
}
#contentlayout-actions {
  position: relative;
  border: 1px solid black;
  border-radius: 6px;
  margin: 4px;
  width: 160px;
  background: white;
}
#contentlayout-add-block {
  background: url(add.png) no-repeat 0px 5px;
}
#contentlayout-edit-block {
  background: url(edit.png) no-repeat;
}
#contentlayout-move-block {
  background: url(move.png) no-repeat;
}
#contentlayout-remove-block {
  background: url(remove.png) no-repeat 0px -2px;
}
