
.contentlayout-edit-slot {
  overflow: hidden;
}

.contentlayout-empty-slot {
  outline: 3px dashed #A0A0A0;
  height: 90px;
  position: relative;
}
.contentlayout-over-slot {
  outline: 3px dashed #A0A0A0;
}

.contentlayout-empty-slot:before {
  padding: 5px;
  color: #A0A0A0;
  content: "Add components here";
  width: 100%;
  position: absolute;
  left: 0;
  top: 30px;
  font-size: 1.2em;
  text-align: center;
}

/* Contentlayout layer CSS */

#contentlayout-lost-slots {
  z-index: 399999;
  position: absolute;
  left: 100px;
  padding: 0.2em;
  background-color: white;
  border: 1px solid #777;
  border-radius: 4px;
  overflow: hidden;
}

#contentlayout-lost-slots .contentlayout-label {
  border: 1px solid #AAA;
  border-radius: 4px;
  background: #CCC url(gradient-title.png) 50% 50% repeat-x;
  color: #222;
  font-weight: 700;
  padding: 0.4em 1em;
  margin-top: 0;
}
#contentlayout-lost-slots .contentlayout-description {
  margin: 0.5em 1em;
}
#contentlayout-lost-slots .contentlayout-edit-block {
  min-height: 20px;
}
#contentlayout-lost-slots .contentlayout-actions {
  margin: 0em 1em;
}
#contentlayout-lost-blocks {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 0.3em 1em;
  padding: 0.5em 0em;
}

.contentlayout-component {
  padding: 2em;
}
.contentlayout-component.selected {
  padding: 0;
}
.contentlayout-component span {
  padding-left: 0.5em;
}
.contentlayout-component img {
  float: left;
}

.contentlayout-valid-placeholder {
  background: rgb(20, 200, 20); /*IE 8*/
  background: rgba(20, 200, 20, 0.5);
}

.contentlayout-invalid-placeholder {
  background: rgb(200, 20, 20); /*IE 8*/
  background: rgba(200, 20, 20, 0.5);
}

.contentlayout-placeholder {
  background: rgb(220, 220, 220); /*IE 8*/
  background: rgba(220, 220, 220, 0.5);
}

#contentlayout-cover-layer {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

#contentlayout-edit-layer {
  background: rgb(220, 220, 220); /*IE 8*/
  background: rgba(220, 220, 220, 0.5);
  position: absolute;
}

.contentlayout-actions {
  background: #fff url(gradient20m.png) repeat-x top;
  border-radius: 3px;
  border: 1px solid #777;
  float: right;
  margin: 2px;
  position: relative;
}
.contentlayout-actions a {
  background: transparent url(icons.png) no-repeat;
  display: block;
  color: black;
  cursor: pointer;
  float: left;
  padding: 2px 4px 1px 20px;
}
#contentlayout-edit-block:hover {
  background-color: #fff;
  border-radius: 3px 0px 0px 3px;
}
#contentlayout-edit-block {
  background-position: 0 -40px !important;
  border-right: 1px solid #777;
}
#contentlayout-move-block:hover {
  background-color: #fff;
}
#contentlayout-move-block {
  background-position: 0 0px !important;
  border-right: 1px solid #777;
}
#contentlayout-remove-all-blocks:hover,
#contentlayout-remove-block:hover {
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
}
#contentlayout-remove-all-blocks,
#contentlayout-remove-block {
  background-position: 0 -20px !important;
}
