
.edit-slot {
  outline: 1px solid black;
  min-height: 32px;
  overflow: hidden;
}

/* Contentlayout layer CSS */

.contentlayout-block-valid-placeholder {
  background: rgba(20, 200, 20, 0.5);
}

.contentlayout-block-invalid-placeholder {
  background: rgba(200, 20, 20, 0.5);
}

.contentlayout-block-placeholder {
  background: rgba(200, 200, 200, 0.5);
}

#contentlayout-edit-layer {
  background: rgba(200, 200, 200, 0.5);
  zIndex: 25000;
}

#contentlayout-edit-layer a {
  display: block;
  background: url(icons.png) no-repeat;
  float: left;
  height: 28px;
  width: 28px;
  margin: 2px 4px;
}
#contentlayout-actions {
  position: relative;
  border: 1px solid black;
  border-radius: 6px;
  margin: 4px;
  width: 150px;
  background: white;
}
#contentlayout-add-block {
  background-position: -28px 0px !important;
}
#contentlayout-edit-block {
  background-position: -84px 0px  !important;
}
#contentlayout-move-block {
  background-position: 0px 0px !important;
}
#contentlayout-remove-block {
  background-position: -56px 0px !important;
}
