/* @override https://silva23.bethel.edu/silva/++preview++/www/giving/++resource++silva.core.contentlayout.browser.resources/layouteditor.css */

/* @override https://cms-editor.xp.bethel.edu/silva/++resource++Silva.contentlayout.browser.resources/layouteditor.css */
/* this is the css for the ++layouteditor++ view of the content layout editor
   i.e. the "public preview" editor iframe */

.part {
	margin-bottom: 10px;
	width: 100%;
	overflow: auto;
}

.part:hover {
	padding: 0px;
	background: #eee;
    -webkit-box-shadow: inset 0 0px 1px #237fd7;
    -moz-box-shadow: inset 0 0px 1px #237fd7;
    box-shadow: inset 0 0px 1px #237fd7; 
}

.part-content {
	margin: 0;
	padding: 0;
}

.part-content p {
	margin: 0;
	padding: 15px 0;
}

.add-container {
	height: 30px;
	margin: 0 0 0 -10px;
	padding: 0;
}

.add-button {
	font: bold .85em "Lucida Grande", verdana, helvetica, arial, sans-serif;
	text-decoration: none;
	color: #fff;
	margin: 0;
	padding: 0 0 0px;
	height: 25px;
	width: 34px;
	background: transparent url(arrow-add.png) 0px 0px no-repeat;
}

.add-button:hover {
	background: transparent url(arrow-add.png) 0px -56px no-repeat;
	cursor: pointer;
}

.add-button:active {
	margin-top: 1px;
}

.add-button.manipulator {
	padding: 5px 0 0 12px;
}

.part-controls {
    font: bold .85em "Lucida Grande", verdana, helvetica, arial, sans-serif;
	margin: 0;
	padding: 5px 0;
	overflow: visible;
	z-index: 10;
}

.part-controls span {
    display: inline-block;
    margin: 0px 3px 0 2px;
    padding: 4px 7px 5px;
    border: 1px solid #777;
    color: white;
    text-align: center;
    text-shadow: 0px -1px 1px hsla(0,0%,0%,.4);
    text-decoration: none;
    cursor: pointer;
    font: bold 13px arial, helvetica, sans-serif;
      
    /*Border radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
                
    background: #237fd7 url(overlay.png) top left repeat-x;
      
    /*Box shadow*/
    -webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                        inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                        0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
    -moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                    inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                    0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
    box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
}

.part-controls .remover {
	background-color: #752e2f;
}

.part-controls span:hover {
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
	cursor: pointer;
}

.part-controls .move-control:hover {
	cursor: move;
}

/* styles for move mode */
.movemode .add-container {
	display:none;
}

.movemode .slot > .bd{
	min-height: 40px;
	padding: 5px;
	margin-left: -5px;
	border: 1px dashed #ccc;
	overflow: hidden;
}

.movemode .part {
	cursor: move;
}

.movemode .part:hover {
	opacity: .75;
}

.movemode .part-controls {
	display: none;
}
