/* @override https://silva23.bethel.edu/silva/www/giving/++resource++silva.core.contentlayout.browser.resources/smi.css */
/* @override https://editor.its.bethel.edu/silva/++resource++Silva.contentlayout.browser.resources/smi.css */

body {
  font: 70% "Lucida Grande", Helvetica,  Arial, sans-serif;
}

/* this is the css which is used in the smi (i.e. tab_edit) when
	the content layout editor is loaded */

iframe {
	border: 1px solid grey;
}

.mask {
	filter:alpha(opacity=50);
    opacity: 0.70;
	background-color: #333;
}

#layout-controls {
	margin-bottom: 1em;
}

#add-part-select {
	display: none;
	text-align: right;
}

#main {
	margin-left: 10px;
	margin-right: 10px;
}

#edit-dialog-form, #edit-dialog-form table.listing {
	overflow: auto;
	color: #333;
}

#edit-dialog-form .description {
	padding: 20px 5px;
}

.bethel-skin.yui-skin-sam .yui-panel-container.shadow .underlay {
	background: none;
}

/* =========== Styles for Modal Window ================ */

.bethel-skin.yui-skin-sam .yui-panel .container-close,
.bethel-skin.yui-skin-sam .yui-dialog .container-close {
	top: -20px;
	right: -20px;
	width: 35px;
	height: 35px;
	background: url(btn-close.png) no-repeat;
	cursor: pointer;
	position: absolute;
}

.bethel-skin.yui-skin-sam .yui-panel .hd img {
	float: left;
	padding-right: 1ex;
	padding-top: 5px;
	display:none;
}

.bethel-skin.yui-skin-sam .yui-panel .bd {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	border-radius: 0 0 5px 5px;
}

#confirm-part-delete > .bd {
	border-radius: 0px;
}

.bethel-skin.yui-skin-sam .yui-panel .hd,
.bethel-skin.yui-skin-sam .yui-panel .bd,
.bethel-skin.yui-skin-sam .yui-panel .ft,
.bethel-skin.yui-skin-sam .yui-dialog .hd,
.bethel-skin.yui-skin-sam .yui-dialog .bd,
.bethel-skin.yui-skin-sam .yui-dialog .ft,
.bethel-skin .yui-panel iframe {
	border: none;
}

#editiframebody {
	background-color: white;
}

.bethel-skin.yui-skin-sam .yui-panel .hd,
.bethel-skin.yui-skin-sam .yui-dialog .hd {
	font-weight: bold;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
	text-shadow: 0px -1px 1px rgba(0,0,0,.8);
	color: #fff;
	padding: 0px 0;
	border-radius: 5px 5px 0 0;
	background: #555a5c; /* Old browsers */
	background: -moz-linear-gradient(top, #555a5c 0%, #363a3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555a5c), color-stop(100%,#363a3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555a5c 0%,#363a3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555a5c 0%,#363a3d 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #555a5c 0%,#363a3d 100%); /* IE10+ */
	background: linear-gradient(top, #555a5c 0%,#363a3d 100%); /* W3C */
	-webkit-box-shadow: 	inset 0 1px 0 hsla(0,100%,100%,.1) /*Top*/, 
  						inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
  						0 1px 2px hsla(0, 50%, 50%, .0) /*Shadow*/; 
    -moz-box-shadow: 		inset 0 1px 0 hsla(0,100%,100%,.2) /*Top*/, 
  						inset 0 0 2px hsla(0,100%,100%,.2) /*Shine*/, 
  						0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/; 
    box-shadow: 			inset 0 1px 0 hsla(0,100%,100%,.1) /*Top*/, 
  						inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/, 
  						0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
}

.bethel-skin .yui-layout .yui-layout-unit div.yui-layout-ft {
	padding:  21px 0px 7px 0px;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-top: 1px solid #ccc;
}

.bethel-skin.yui-skin-sam .yui-panel {
	x-moz-box-shadow: 1px 1px 40px #222;
	x-webkit-box-shadow: 1px 1px 40px #222;
	xbox-shadow: 1px 1px 40px #222;
	border: 7px solid rgba(0,0,0,.6);
	border-radius: 10px;
}


.yui-skin-sam .yui-dialog .ft {
	padding-top: 10px;
}

.bethel-skin.yui-skin-sam .yui-simple-dialog .bd {
	/* e.g. #confirm-part-delete */
	padding: 20px 15px 10px;
}

#published-preview {
	padding: 10px;
}

/* =========== Add Part Menu ============= */

.bethel-skin .yui-layout .yui-layout-unit div.yui-layout-bd {
	border: 0;
	overflow: auto;
}

#add-part-menu .bd {
	margin: 0;
	padding: 15px 15px 10px 0px;
	background: none;
}

.bethel-skin .yuimenu h6 {
	margin: 0 0 7px;
	padding: 0;
	border: none;
	color: #333;
	cursor: pointer;
}

#add-part-menu h6.moreItemsTitle {
	cursor: pointer;
	margin-top: 15px;
}

#add-part-menu h6.moreItemsTitle:before {
	content: '';
	background: url('arrow.png') bottom left no-repeat;
	padding: 0 0 0 15px;
}

#add-part-menu h6.moreItemsTitle.collapsed:before {
	content: '';
	background: url('arrow.png') top left no-repeat;
	padding: 0 0 0 15px;
}

#add-part-menu ul.collapsed {
	display: none;
}

#add-part-menu ul li a {
	color: #333;
	cursor: pointer;
	margin-left: 0px;
	padding-top:  5px;
	line-height: 16px;
}

#add-part-menu .yuimenuitemlabel {
	width: 120px;
	white-space: normal;
}

#add-part-menu ul li a:hover {
	text-decoration: underline;
	background-color: #f2f2f2;
	color: #7097b7;
}

#add-part-menu ul li a img {
	vertical-align: sub;
	margin-right: 2px;
	margin-left: -20px;
}

#add-part-menu .yuimenuitem-checked {
	background-image: none;
}

#add-part-menu .yuimenuitem-checked span {
	color: #000;
	font-weight: bold;
}

#add-part-menu .yuimenuitem img {
	padding-right: 2px;
	height: 16px;
	width: 16px;
}

#add-part-menu .helptext {
	display: none;
}

/* ================ Buttons =============== */

.bethel-skin.yui-skin-sam .yui-button {
	margin: 0;
	padding:  0;
	border: none;
	background: none;
}

.bethel-skin.yui-skin-sam .yui-button .first-child {
	border:none;
}

.bethel-skin.yui-skin-sam .yui-button button,
.bethel-skin.yui-skin-sam .yui-button a,
.bethel-skin.yui-skin-sam .yui-button a:visited {
    display: inline-block;
    margin: 0px 3px 0 2px;
    padding: 4px 7px 5px;
    border: 1px solid #777;
    color: white;
    text-align: center;
    text-shadow: 0px -1px 1px hsla(0,0%,0%,.4);
    text-decoration: none;
    cursor: pointer;
    font: bold 13px arial, helvetica, sans-serif;
      
    /*Border radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
                
    background: #237fd7 url(overlay.png) top left repeat-x;
      
    /*Box shadow*/
    -webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                        inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                        0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
    -moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                    inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                    0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
    box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
                inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 
                0 1px 2px hsla(0, 0%, 0%, .0) /*Shadow*/;
}

.bethel-skin.yui-skin-sam .yui-button button:hover,
.bethel-skin.yui-skin-sam .yui-button a:hover,
.bethel-skin.yui-skin-sam .yui-button a:visited:hover {
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
	}
	
button#part-add-panelpanel-layoutpanel-layout-cancel-button-button,
button#part-editor-panelpanel-layoutpanel-layout-cancel-button-button,
.bethel-skin.yui-skin-sam .yui-button button.canceler,
.button-group span.canceler,
.canceler {
	background-color: #888;
}

.bethel-skin.yui-skin-sam .yui-button button.remover {
	background-color: #752e2f;
}

/* =================== External Source Form Table ================= */

table.listing.richtext {
	border: none;
}
table.listing.richtext td {
	padding: 0px 0 0;
	border: none;
}

.widget span.option {
	display: block;
	clear: right;
}

#edit-dialog-form .buttons {
	display: none;
	background: red;
}

#addbutton_field_links {
	margin-left: 27px;
	color: #005ba3;
}

/* =========== Addables Screen ============ */

.option {
	background-color: #eee;
	margin: 150px 0 0px 20px;
	width: 196px;
	height: 100px;
	padding: 10px;
	border: 1px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	background: #555a5c; /* Old browsers */
	background: -moz-linear-gradient(top, #555a5c 0%, #363a3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555a5c), color-stop(100%,#363a3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #555a5c 0%,#363a3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #555a5c 0%,#363a3d 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #555a5c 0%,#363a3d 100%); /* IE10+ */
	background: linear-gradient(top, #555a5c 0%,#363a3d 100%); /* W3C */
}

.option:last-child {
	display: none;
}

.option:hover {
	background: #555a5c;
	cursor: pointer;
	}

.option img {
	xfloat:left;
	display: none;
}

.option p {
	xmargin:0 5px 0 45px;
	text-align: center;
	display: none;
}

.option h2 {
	margin: 40px 0px 0px 0px;
	text-align: center;
	color: #eee;
	text-shadow: -1px -1px 0px #333;
}

/* =========== Info Panel ================= */

#infopanel {
	position: absolute;
	right: -3px;
}

#infopanel .infopanel-button {
	cursor: pointer;
	height: 32px;
	width: 32px;
	margin-bottom: 5px;
	padding: 0;
}

#infopanel .infopanel-button span.first-child {
	display: none;
}

#switch-template-button {background: url(change-template.png) no-repeat;}
#switch-template-button:hover {background: url(change-template-active.png) no-repeat;}
#infopanel-previewmode .yui-button {background: url(preview.png) no-repeat;}
#infopanel-previewmode .yui-button:hover {background: url(preview-active.png) no-repeat;}
#infopanel-previewmode .yui-button-checked {background: url(preview-active.png) no-repeat;}
#infopanel-newsitemtool .yui-button {background: url(properties.png) no-repeat;}
#infopanel-newsitemtool .yui-button:hover {background: url(properties-active.png) no-repeat;}
#infopanel-movetool .yui-button {background: url(move.png) no-repeat;}
#infopanel-movetool .yui-button:hover {background: url(move-active.png) no-repeat;}
#infopanel-movetool .yui-button-checked {background: url(move-active.png) no-repeat;}

#content-layout-template {
	position: relative;
}

/* =========== Switch Template Modal ============== */

#select-template ul {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

#switch-template-select .bd {
	overflow: auto;
}

#switch-template-select .yuimenuitem {
	cursor: pointer;
	min-height: 64px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #ddd;
}

#switch-template-select .yuimenuitem:first-child {
	border-top: none;
}

#switch-template-select input[type=radio] {
	float: left;
	margin-top: 27px;
}

#switch-template-select .yuimenuitem a {
	padding-top: 27px;
	white-space: normal;
	cursor: pointer;
}
#switch-template-select .yuimenuitem .icon {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	float: left;
	width: 64px;
	height: 64px;
	padding: 0 32px 0 0px;
	cursor: pointer;
}
